[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ArcoLinux Conky Toggle
Comment=Desktop system monitor on/off
Icon=conky
Categories=Utility;System;
Exec=conky-toggle
Terminal=false
NoDisplay=False