[Desktop Entry]
Encoding=UTF-8
Name=Link to distortion dos digital ttf
Type=Link
URL=http://www.dafont.com/distortion-dos-digital.font
Icon=text-html

