[Desktop Entry]
Encoding=UTF-8
Name=Link to Poky ttf
Type=Link
URL=https://github.com/KevinHivert/Conky/blob/master/fonts/Poky.ttf
Icon=text-html
Name[en_US.utf8]=Link to poky ttf
