[Desktop Entry]
Encoding=UTF-8
Name=Link to 1942 report ttf
Type=Link
URL=http://www.dafont.com/1942-report.font
Icon=text-html
Name[en_US.utf8]=Link to 1942 report ttf
